
/* *{
    min-width: 700px;
    max-width: 1440px;
    min-height: 761px;
    max-height: 5120px;
} */
@font-face{
    font-family: myFont;
    src: url(font/nesia-yyay5.otf);
}

body{
    /* min-width: 650px;
    max-width: 2000px;
    min-height: 761px;
    max-height: 5120px; */
    margin: 0;
   background-color: #e7f0f1;
}

header{
    /* background-color: #ebd8c2; */
    font-family: 'Italiana'; 
    background-color: #adb19e ;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    /* border-style: dashed;
    border-top: 0;
    border-left: 0;
    border-right: 0; */
}

header button{
    background-color: #fafafa;
    border: none;
}

.i-main{
    display: flex;
    flex-wrap: wrap;
    color: #555d39;
    padding-top: 4em;
    margin-bottom: 50px;
}

.kill-me ul{
    /* list-style: none; */
    display: inline;
    color: rgb(26, 131, 223);
    margin-right: 30px;
    padding: 0;
}

.kill-me li{
    list-style: none;
    margin-top: 20px;
}

.doggoo img{
    height: 64px;
    width: 64px;
}

.imooges {
    display: grid;
    grid-template-columns: 20.1vw 20.1vw 20.1vw 20.1vw;
    grid-gap: 6vw;

} 

.imooges img{
    height: 100%;
    width: 100%;
    background-size: 15em 15em;
    border-style: groove ;
    border-radius: 5px;
    border-color:  #0a7e8c;;
    
    padding: 0;
    object-fit:cover;
}

.imooges img:hover{
    box-shadow: -1em 0 1em;
    /* box-shadow: 10px 10px 90px -10px  ; */
    /* box-shadow: 5px 10px #888888; */
}

.footer{
    background-color: #EAD8C0;
    opacity: 45%;
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    justify-content: center;
}



.buttoonie{
    background-color: #1f655a;
    border-color: #ce7c5b;
    border-width: 5px 10px;
    
    /* border: none; */
    border-radius: 50px 150px / 120px;
    height: 50px;
    width: 120px;
}

.buttoonie a{
    color: #adb19e;
}

.buttoonie a:visited{
    color: #adb19e;
}

.buttoonie :hover{
    background-color: #dabce3;
}

.i-main{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    text-align: center;
}


    


.imaages{
    grid-column: 2/2;
    /* grid-column-end: 2/2; */
    padding: 2em;
    float: none;
    padding-left: 50px;

}

.imaages img{
    display:block;
    height: 20rem;
    width: 30rem; 
    /* height: 300px;
    width: 300px; */
    border-radius: 2px;
    object-fit: cover;
}




.photoMain {
    font-family: myFont;
    align-items: center;
    text-align: center;
    color: #555d39;
}

.main-text{
    grid-column-start: 1/2;
    padding: 2em;
    padding-right: 50px;
}

.mainie{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

.smoothies{
    grid-column: 1/2;
}

.smoothies img{
    height: 25em;
    width: 25em;
    border-radius: 3px;
    object-fit: cover;
}

.baked-goods{
    grid-column: 2/2;
}

.baked-goods fieldset{
    border: none;
}

.footie{
    background-color: #c7aca1;
    justify-content: center;
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}


a {
    text-decoration: none;
    outline-color: transparent;
  } 
  
  a:link {
   color: #0a7e8c;
  }
  
  a:visited {
    color: #0a7e8c;
    text-decoration: none;
  }
  /* 0a7e8c */

  a:focus {
  color:#9171ac;
  }
  
  a:hover {
  color:#bb47de;
  background-color:#7dae73;
  }
  /* #fce50f */
  a:active {
  color:#e6c3ca;
}
    


.yelp{
    background-color: #0a7e8c;
    display: flex;
    /* flex-wrap: wrap; */
    column-gap: 20vw;
    flex: 1 1 auto;

    /* flex-direction: row;
    flex-basis: 100px; */
}

.yelp img{
     height: 20vh;
    width: 20vw; 
    /* justify-content: space-around;
    margin-right: 30%; */
    /* margin-right: 10%; */
}


  
.cinderella img{
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    border-radius: 50px;
}

.cinderella-txt {
    padding: 2em;
    padding-top: 15em;
    text-align: end;
    
}


  /* .icon img{
    height: 63px;
    width: 63px;
  } */


/* gotta do all this:") */
@media screen and (max-width: 600px){
    .imaages img{
        float: none;
        width: 100%;
    }
    
}

@media screen and (min-width: 992px) {
    body{}
}