

body{
    margin: 0;
   background-color: #e7f0f1;
}

header{
    /* background-color: #ebd8c2; */
    background-color: #adb19e;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    /* border-style: dashed;
    border-top: 0;
    border-left: 0;
    border-right: 0; */
}

header button{
    background-color: #fafafa;
    border: none;
}

.i-main{
    display: flex;
    flex-wrap: wrap;
    color: #555d39;
    padding-top: 4em;
}

.kill-me ul{
    /* list-style: none; */
    display: inline;
    color: rgb(26, 131, 223);
    margin-right: 30px;
    padding: 0;
}

.kill-me li{
    list-style: none;
    margin-top: 20px;
}

.doggoo img{
    height: 10vh;
    width: 20vw;
}

.imooges {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-gap: 1vw;
} 

.imooges img{
    height: 20vh;
    width: 20vw;
    border-style: groove ;
    border-radius: 5%;
    box-shadow: 5px 10px #888888;
    padding: 0;
}

.footer{
    background-color: #EAD8C0;
    opacity: 45%;
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}
.footer{
    justify-content: center;
}

.button{
    background-color: #ADB19E;
    border: none;
}


.i-main{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    text-align: center;
}

.imaages{
    grid-column-start: 2/2;
}

.imaages img{
    height: 40vh;
    width: 40vw;
    border-radius: 2%;
}

.main-text{
    grid-column-start: 1/2;
}

.mainie{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

.smoothies{
    grid-column: 1/2;
}

.smoothies img{
    height: 40vh;
    width: 40vw;
    border-radius: 3%;
}

.baked-goods{
    grid-column: 2/2;
}

.baked-goods fieldset{
    border: none;
}

.footie{
    background-color: #c7aca1;
    justify-content: center;
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}


a {
    text-decoration: none;
    outline-color: transparent;
  }
  
  a:link {
   color: #f2f3f4;
  }
  
  a:visited {
  color: #0a7e8c;
  }
  
  a:focus {
  color:#9171ac;
  }
  
  a:hover {
  color:#bb47de;
  background-color:#7dae73;
  }
  /* #fce50f */
  a:active {
  color:#e6c3ca;
  }
    


  .yelp{
    background-color: #0a7e8c;
    display: flex;
    /* flex-wrap: wrap; */
    column-gap: 20vw;
    flex: 1 1 auto;

    /* flex-direction: row;
    flex-basis: 100px; */
  }

  .yelp img{
     height: 20vh;
    width: 20vw; 
    /* justify-content: space-around;
    margin-right: 30%; */
    /* margin-right: 10%; */
  }
